@import "../../node_modules/bootstrap/scss/bootstrap";


.root {
    height: 100vh;
    background-image: url(../img/img1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 767.98px) {
    .btn {
        min-width: 100%;
    }
 }
